.HomeOutlet .contact-us {
  flex-grow: 1;
  width: 226px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 34px;
  border: 1px solid rgba(29, 30, 27, 0.1);
  background: #f7f7fa;
  color: #414141;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
}
.HomeOutlet .burger-menu {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7fa;
}
.HomeOutlet .burger-menu svg {
  width: 40px;
  height: 40px;
  fill: #414141;
}
@media (max-width: 767px) {
  .HomeOutlet .contact-us {
    width: 200px;
  }
}
