.NumberStudents {
  height: 114px;
  border-radius: 20px;
  border: 1px solid var(--Colors-Black-Black-1, rgba(0, 0, 0, 0.05));
  background: #fff;
  padding: 19px;
}
.NumberStudents .icon {
  width: 76px;
  height: 76px;
  border-radius: 20px;
}
